{
    "presets": ["env"],
    "plugins": [
        "transform-runtime",
        "transform-object-rest-spread",
        ["module-resolver", {
            "alias": {
                "reventex": "."
            }
        }]
    ]
}